<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
  <form method="GET" action="/" class="card card-body"> 
    <div class="container p-5">
      <div class="row">        
      <div class="card card-body text-center"><h3>Exámen</h3></div>
      <div class="pregunta"><p style="text-align:right">Estudiante DNI:<%= (JSON.parse(dats)).alumnoasignado;%></p></div> 
        <%long=(JSON.parse(dats)).examenes.length;%>
        <%for (index=0; index<long; index++){%> 
          <div class="pregunta"><p style="text-align:right">Sección:<%= (JSON.parse(dats)).examenes[index].seccion;%></p></div>
          <div class="pregunta"><p style="text-align:left">Título:<%= (JSON.parse(dats)).examenes[index].title;%></p><p style="text-align:right"></p>Puntaje:<%= (JSON.parse(dats)).examenes[index].puntaje;%></p></div>
          <div class="pregunta"><p style="text-align:left">Descripción: <%= (JSON.parse(dats)).examenes[index].descripcion;%></p></div>
            <% if ((JSON.parse(dats)).examenes[index].opciones == 'Varias opciones'){%>
                <%long1=(JSON.parse(dats)).examenes[index].titleopcion.length;%> 
                <%for (index1=0; index1<long1; index1++){%>
                      <div class="pregunta"><input type="checkbox" id="checkboxtitleopcion" name="checkboxtitleopcion" value="<%= (JSON.parse(dats)).examenes[index].titleopcion[index1];%>">
                      <%= (JSON.parse(dats)).examenes[index].titleopcion[index1];%></div><br>
                        <%}%> 
                <%}
                  if ((JSON.parse(dats)).examenes[index].opciones == 'Respuesta corta'){%>
                    <div id="miBoton">
                        <textarea name="respuestacorta" rows="10" cols="80"></textarea><br>
                      </div>    
                <%}%>     
          <%}%>
          <!-- <input type="submit" name="guardar" onclick="this.setAttribute('value', this.value);" value="Enviar" class="floating-select">-->
          </div></div>  
  </form> 
  </body>
</html>
